{% extends 'partials/body.html' %}  {% load static %}  {% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row px-5 mx-5">
        <div class="col px-5 mx-5">
          <div class="px-5 mx-5">
            <div class="fs-1 fw-bold">
              <h3 class="py-5"> {{titulo}} </h3>
            </div>
  <div class="table-responsive" style=" background-color: #fcf9f5; border-color: #68411d; border-width: 3px; border-style: solid; padding: 35px;">
<table id="example1"  class="table table-bordered table-striped py-5">
  <thead style="background-color: #fcf9f5">
    <tr style="background-color: #d4c6b5;text-align: center;">
      <th>ID Usuario</th>
      <th>Dirección</th>
      <th>Fecha de envio</th>
      <th>Fecha de entrega</th>
      <th>Fecha</th>
      <th>Estado</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for domicilio in domicilios %} {% if domicilio.estado != "0" %}
    <tr style="background-color: #f3eee9">
      <td style="color: #68411d;text-align: center;">{{domicilio.usuario}}</td>
      <td style="color: #68411d;text-align: center;">{{domicilio.direccion}}</td>
      <td style="color: #68411d;text-align: center;">{{domicilio.fecha_envio}}</td>
      <td style="color: #68411d;text-align: center;">{{domicilio.fecha_entrega}}</td>
      <td style="color: #68411d;text-align: center;">{{domicilio.fecha}}</td>
      <td style="color: #68411d;text-align: center;">{{domicilio.get_estado_display}}</td>

      <td>
        <button  type="button" data-ident="{{domicilio.id}}" class="btnEliminar animatede-button"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    Eliminar</button>
        <a
          class="btn animatedm-button btn-primary"
          href="{% url 'domicilio-modificar' domicilio.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
<a href="{% url 'domicilio-crear' %}">
  <button class="animatedd-button" type="button">
    Crear {{titulo}}
  </button>
</a>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
</div>
{% endblock contenido %}
