{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bolder" style="color: #68411d;">Sellantes - Fijación</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Sellante Autonivelante Sikaflex-401 Pavemente Sl 300 Ml.png" alt="">
                <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$64.300</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Sellante Form A Gasket 80008 X 3 Oz Permatex 1307044.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$54.750</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Sikaflex 112 Crystal Clear Adhesivo Y Sellante Transparente.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$58.200</font></p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Impermeabilizante Para Reparación De Paredes 100 G.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$82.769</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Sellante De Uniones Loctite 545 X 50 Ml.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$186.990</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Sellador Para Cuero Acabado Mate Sellante Para Cuero X 375cc.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$19.390</font></font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

{% endblock contenido %}