{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bolder" style="color: #68411d;">Construccion</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/espatula de plastico.png" alt="">
                <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$5.810</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Espatula flexible de acero inoxidable.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$16.480</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Mini raspador .png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$6.100</font></font></p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Bosch Atornillador Para Construcción Gsr 6-25 Te Profesional.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$3.049.000</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Cilindro Hidráulico Ultrafino Separado Para Construcción Nav.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$1.344.843</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Llave De Impacto De Aire Con Pistola 4800 N Construcción.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$2.455.200</font></font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

{% endblock contenido %}