{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bolder" style="color: #68411d;">Vestuario y proteccion</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Casco De Seguridad Negro Ingeniero Obra Construccion.png" alt="">
                <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$38.935</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Guantes En Tela Para Uso En Ferreteria O Construcción.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$18.900</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Arnes Dielectrico Con Faja Lumbar Certificado Construcción.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$489.300</font></p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Zapatos De Seguridad Ligeros Con Punta De Acero Más Vendidos.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$201.259</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Cascos Duros Para La Construcción Casco De Seguridad Uninova.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$273.000</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Casco De Seguridad Para La Construcción Casco De Seguridad O.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$550.000</font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

{% endblock contenido %}