{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bolder" style="color: #68411d;">Fontaneria</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Llave De Tubería Multifuncional Herramienta De Fontanería 8.png" alt="">
                <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font>$94.139</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Tubo Doblador Herramientas De Fontanería Aire C.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font>$127.738</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Herramientas De Fontanería, Llave De Drenaje, Cierre De Agua.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font>$111.575</font></p>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Desatascador De Tuberías, Herramientas De Fontanería, Limpia.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$115.605</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Herramienta De Alcantarillado Para Fontanería, Flexible, Aho.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> </font>$161.296</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Plana Auto Herramientas Manuales Fontanería.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$54.302</font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>

{% endblock contenido %}