{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}

<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-bolder" style="color: #68411d;">Pinturas y complementos</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Rodillo Para Pintar Casa Jardin + Complementos Facil Y Pract.png" alt="">
                <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$45.900</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img class="w-50" src="/static/img/Gravity Feed - Soporte Para Pistola De Pintura, Soporte.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>$124.302</font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Pulverizador Wagner Tec Alemana W550 Control Spray).png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$279.999</font></font></p>
            </div>
          </div>
        </div>
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Impermeabilizante Ladrilo Galón Cristalmuro 8 Años 3 Colors.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$82.500</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Pistola Para Pintar Profesional 0.6lts Toolcraft Tc1840.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$115.900</font></font></p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="/static/img/Galón Vinilo Tipo 2 Pintuland - gal a $93000.png" alt="">
              <div class="card-body">
                <p class="card-text text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$93.000</font></font></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </main>

{% endblock contenido %}